<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        ApSymfony
      {% endblock %}
    </title>

    <!-- Bootstrap -->
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>

    <!-- Ngoc's css -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
      rel="stylesheet" />

    {% block stylesheets %}

    {% endblock %}
  </head>
  <body>
    {{ include('nav.html.twig') }}

        <!-- Add flash message -->
        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
          {{message}}
        </div>
        {% endfor %}
        <!-- End flash message -->

    {% block body %}
      <div class="row">
        <div class="col">
          <h1>
            <span class="badge badge-secondary">
              Bienvenue sur la formation AP Formation Symfony 5 !
            </span>
          </h1>
        </div>
      </div>
      <div class="row">
        <img src="{{ asset('css/img/welcome.png') }}"
          alt="image-de-bienvenue" />
      </div>
    {% endblock %}
    {% block javascripts %}

    {% endblock %}
  </body>
</html>
