{% extends 'base.html.twig' %}
{% block body %}
  <div class="container">
    <div class="row" style="border: 1px solid white">
     
     <div class="col"></div>
     <div class="col">
        {% for item in categories %}
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">
                Product : {{ item.name }}
              </h5>
              <p class="card-text">
                Slug : {{ item.slug }}
              </p>
              <p>
                Description : {{ item.description }}
              </p>
            </div>
          </div>
        {% endfor %}
     </div>

<div class="col"></div>
     
    </div>
  </div>
{% endblock %}
